################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColorzCore/bin/Debug
/ColorzCore/obj/Debug/ColorzCore.csproj.FileListAbsolute.txt
*.exe
