################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

ColorzCore/obj
ColorzCore/.vs
*.exe
*.cache
